![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [106]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Add as many cells as you like...

                                         school_name  ... percent_tested
0  New Explorations into Science, Technology and ...  ...            NaN
1                               Essex Street Academy  ...           78.9
2                       Lower Manhattan Arts Academy  ...           65.1
3    High School for Dual Language and Asian Studies  ...           95.9
4      Henry Street School for International Studies  ...           59.7

[5 rows x 7 columns]

**Which NYC schools have the best math results?**

In [107]:
best_math_schools = schools.groupby('school_name', as_index=False)['average_math'].mean()
best_math_schools = best_math_schools[best_math_schools['average_math'] >= 0.8*800].sort_values('average_math', ascending=False).reset_index(drop=True)
print(best_math_schools)

                                         school_name  average_math
0                             Stuyvesant High School         754.0
1                       Bronx High School of Science         714.0
2                Staten Island Technical High School         711.0
3  Queens High School for the Sciences at York Co...         701.0
4  High School for Mathematics, Science, and Engi...         683.0
5                     Brooklyn Technical High School         682.0
6                        Townsend Harris High School         680.0
7  High School of American Studies at Lehman College         669.0
8  New Explorations into Science, Technology and ...         657.0
9                      Eleanor Roosevelt High School         641.0

**What are the top 10 performing schools based on the combined SAT scores?**

In [108]:
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']
top_10_schools = schools[['school_name', 'total_SAT']]
top_10_schools = top_10_schools.sort_values('total_SAT', ascending=False).reset_index(drop=True).iloc[0:10]
print(top_10_schools)

                                         school_name  total_SAT
0                             Stuyvesant High School       2144
1                       Bronx High School of Science       2041
2                Staten Island Technical High School       2041
3  High School of American Studies at Lehman College       2013
4                        Townsend Harris High School       1981
5  Queens High School for the Sciences at York Co...       1947
6                     Bard High School Early College       1914
7                     Brooklyn Technical High School       1896
8                      Eleanor Roosevelt High School       1889
9  High School for Mathematics, Science, and Engi...       1889

**Which single borough has the largest standard deviation in the combined SAT score?**

In [109]:
largest_std_dev = schools.groupby('borough', as_index=False)['total_SAT'].std()
largest_std_dev = largest_std_dev[largest_std_dev['total_SAT'] == largest_std_dev['total_SAT'].max()]
largest_std_dev['num_schools'] = len(schools[schools['borough'] == 'Manhattan'])
largest_std_dev['average_SAT'] = schools[schools['borough'] == 'Manhattan']['total_SAT'].mean().round(2)
largest_std_dev = largest_std_dev.rename(columns={'total_SAT':'std_SAT'}).reset_index(drop=True)
largest_std_dev['std_SAT'] = largest_std_dev['std_SAT'].values[0].round(2)
print(largest_std_dev)

     borough  std_SAT  num_schools  average_SAT
0  Manhattan   230.29           89      1340.13